@import '~bootstrap/dist/css/bootstrap.min.css';

.example-card {
  width: 400px;
}
  
.example-header-image {
  background-size: cover;
}

.card-shape {
  padding: 2%;
}

.max-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2%;
}

.validity {
  margin-left: 25px;
}

.alignement {
  display: flex;
  justify-content: center;
}

.max-card {
  width: 1500px;
}