@import '~bootstrap/dist/css/bootstrap.min.css';

.card-shape {
  padding: 2%;
  margin-bottom: 20px;
}

.max-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2%;
  width: 1200px;
}

.validity {
  margin-left: 25px;
}

.alignement {
  display: flex;
  justify-content: center;
}

.card-body {
  background-color: rgb(2, 87, 0);
}

.card-title {
  color: white;
}

.card-text {
  color: white;
}