.example-card {
  width: 400px;
}
  
.example-header-image {
  background-size: cover;
}

.card-shape {
  padding: 2%;
}


.card-size {
  max-width: 500px;
}

.max-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2%;
}

.mat-card-image {
  height: 400px;
}

.validity {
  margin-left: 25px;
}