<div class="footer">
    <div class="footer-block">
        <h1>A PROPOS</h1>
        <ul class="linklist">
            <li class="linklist-item">
                <a class="navLink" href="">Notre histoire</a>
            </li>
            <li class="linklist-item">
                <a class="navLink" href="">Notre savoir-faire</a>
            </li>
        </ul>
    </div>
    <div class="footer-block">
        <h1>INFORMATIONS</h1>
        <ul class="linklist">
            <li class="linklist-item">
                <a class="navLink" href="">Politique de confidentialité</a>
            </li>
            <li class="linklist-item">
                <a class="navLink" href="">Mentions légales</a>
            </li>
        </ul>
    </div>
    <div class="footer-block">
        <h1>Béarn Cookie</h1>
        <ul class="linklist">
            <li class="linklist-item">
                <a class="navLink">15 rue de Pau, 64000, Pau</a>
            </li>
            <li class="linklist-item">
                <a class="navLink">bearncookie@gmail.com</a>
            </li>
            <li class="linklist-item">
                <a class="navLink">+330612345678</a>
            </li>
        </ul>
    </div>
</div>
