<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h3>A PROPOS</h3>
					<ul class="list-unstyled quick-links">
						<li><a routerLink="/savoir-faire"><i class="fa fa-angle-double-right"></i>Notre histoire et savoir-faire</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h3>INFORMATIONS</h3>
					<ul class="list-unstyled quick-links">
						<li><a routerLink="/"><i class="fa fa-angle-double-right"></i>Politique de confidentialité</a></li>
						<li><a routerLink="/"><i class="fa fa-angle-double-right"></i>Mentions légales</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h3>Béarn Cookie</h3>
					<ul class="list-unstyled quick-links">
						<li><a routerLink="/"><i class="fa fa-angle-double-right"></i>15 rue de Pau, 64000, Pau</a></li>
						<li><a routerLink="/"><i class="fa fa-angle-double-right"></i>bearncookie@gmail.com</a></li>
						<li><a routerLink="/"><i class="fa fa-angle-double-right"></i>+330612345678</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a routerLink="/"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a routerLink="/"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a routerLink="/"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a routerLink="/"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a routerLink="/" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>
		</div>
	</section>
	<!-- ./Footer -->