<app-menu></app-menu>
<div style="margin: auto; max-width: 100%; max-width: 400px;">
  <h2 style="display: flex; justify-content: center; ">INSCRIPTION</h2>
  <form
    *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="submit-form">
      <div class="form-group">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            class="form-control"
            id="username"
            required
            [(ngModel)]="form.username"
            name="username"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            required
          />
        </div>
  
        <div class="validation">
          <button class="btn btn-success" (click)="onSubmit()">
            Valider
          </button>
        </div>
    
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Inscription raté <br />{{ errorMessage }}
        </div>
  
        <div *ngIf="isSuccessful">
          <h4>Vous êtes désormais inscrits !</h4>
          <button class="btn btn-success" routerLink="/connexion">S'identifier</button>
        </div>
      </div>
    </div>
  </form>
</div>

