<div style="width: 400px; margin: auto;">
<form
    name="form"
    #f="ngForm"
    enctype="multipart/form-data"
    >
    <div class="submit-form">
          <label for="cookie">Cookie</label>
          <input
            type="text"
            class="form-control"
            id="cookie"
            required
            [(ngModel)]="cookie.nom"
            name="cookie"
          >
    </div>
  
        <div class="form-group">
          <label for="prix">Prix</label>
          <input
            class="form-control"
            type="number"
            step="0.01"
            id="prix"
            required
            [(ngModel)]="cookie.prix"
            name="prix"
          />
          <span class="validity">{{ priceValidation }} </span>
        </div>

        <div class="form-group">
          <label for="recette">Recette</label>
            <input
              class="form-control"
              id="recette"
              required
              [(ngModel)]="cookie.recette"
              name="recette"
            />
        </div>

        <div class="form-group">
          <label for="photo">Photo</label>
            <input
              type="file"
              name="file"
              id="input-files"
              class="form-control"
              [(ngModel)]="cookie.photo"
              (change)="selectFile($event)"
            />
            <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
              Upload
            </button>
            <div *ngIf="currentFile" class="progress my-3">
              <div
                class="progress-bar progress-bar-info progress-bar-striped"
                role="progressbar"
                attr.aria-valuenow="{{ progress }}"
                aria-valuemin="0"
                aria-valuemax="100"
                [ngStyle]="{ width: progress + '%' }"
              >
                {{ progress }}%
              </div>
            </div>
            <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
        </div>
        
        <div class="validation">
          <button class="btn btn-success button" (click)="update()">
            Valider
          </button>
        </div>
</form>
</div>
