<app-menu></app-menu>

<div class="container">
    <div class="image">
        <img class="img" src="../../assets/images/cookieSF.jpeg" alt="Patissier">
    </div>
    <div class="text">
        <div class="title">
                Un Savoir Faire depuis 1989
        </div>
        <div class="dev">
            <p>
                Si nos cookies sont si bons, c’est (aussi) parce qu’on y met que des bonnes choses.
                Chaque ingrédient est sélectionné avec exigence et minutie pour sa qualité, son goût et son origine local ou au moins française.
                Notre beurre frais est une AOP Charentes-Poitou.
                Nos oeufs bio proviennent d’élevages plein air de la périphérie de Pau.
                Notre farine est fabriquée à deux pas de Morlaas avec un blé récolté à moins de 15km du moulin où elle est produite.
                Notre caramel beurre salé vient d’Isigny, et ainsi de suite.
                Et bien sûr : pas d’arômes artificiels ni de conservateurs, pas d’agents de texture, pas d’huile de palme ni de margarine. Des cookies 100% pur beurre.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="text">
        <div class="title">
            Créatreur de cookies depuis 1989
        </div>
        <div class="dev">
            <p>
                Je m’appelle Jean-Louis et je vais vous raconter notre histoire …
                J’ai débuté l’aventure Béarn Cookies, en en prenant les rennes en 1989, à l’époque avenue du Loup.
                Dès lors, je n’ai cessé de développer des produits autour de mes trois valeurs que sont la qualité,
                l’innovation et une fabrication artisanale pour le plus grand plaisir de mes clients.
                Depuis, l’aventure se conjugue avec un grand A, soutenue par ma famille composée de Rémi,
                Cléa, Lou-Ann et Médéric, mon enseigne propose aujourd’hui une grande variété de cookies 
                qui fait d’elle une enseigne qui compte dans le coeur des gourmandes et des gourmands de Pau.
            </p>
        </div>
    </div>
    <div class="image">
        <img class="img" src="../../assets/images/artisan.jpg" alt="Patissier">
    </div>
</div>
<app-footer></app-footer>
