@import '~bootstrap/dist/css/bootstrap.min.css';

.colonne {
    display: flex;
}

.validity {
    font-weight: bold;
}

.button {
    position: absolute;
    right: 0;
    bottom: 0;
}

.validation {
    padding: 20px;
    position: relative;
}