<div class="colonne">
  <div class="listeCookie">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">nom</th>
        <th scope="col">recette</th>
        <th scope="col">Prix</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cookie of listeCookie; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ cookie.nom }}
        </td>
        <td>{{ cookie.recette }}</td>
        <td> {{ cookie.prix }} </td>
        <td><button class="btn btn-warning"> Modifier </button></td>
        <td><button class="btn btn-danger" (click)="delete(cookie._id)"> Supprimer </button></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div style="width: 400px; margin: auto;">
    <h2> Ajouter un cookie </h2>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="cookie">Cookie</label>
          <input
            type="text"
            class="form-control"
            id="cookie"
            required
            [(ngModel)]="cookie.nom"
            name="cookie"
          />
        </div>
  
        <div class="form-group">
          <label for="prix">prix</label>
          <input
            class="form-control"
            type="number"
            step="0.01"
            id="prix"
            required
            [(ngModel)]="cookie.prix"
            name="prix"
          />
          <span class="validity">{{ priceValidation }} </span>
        </div>

        <div class="form-group">
          <label for="recette">recette</label>
            <input
              class="form-control"
              id="recette"
              required
              [(ngModel)]="cookie.recette"
              name="recette"
            />
        </div>

        <div class="form-group">
          <label for="photo">photo</label>
            <input
              class="form-control"
              id="photo"
              required
              [(ngModel)]="cookie.photo"
              name="photo"
            />
        </div>
        
        <div class="validation">
          <button class="btn btn-success button" (click)="saveCookie()">
            Valider
          </button>
        </div>
      </div>
  
      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newCookie()">Add</button>
      </div>
    </div>
  </div>
</div>
