<app-menu></app-menu>
<div class="container">
  <h2> Mon panier </h2>
  <div class='currentPanier' *ngIf="!currentPanierEmpty">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Cookie</th>
          <th scope="col">Quantité</th>
          <th scope="col">Prix unitaire</th>
          <th scope="col">Prix Total</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let command of currentPanier">
          <td> {{ command.cookieName }} </td>
          <td>{{ command.quantity | number }}</td>
          <td> {{ command.prixUnitaire }} </td>
          <td>{{ command.prix | number }}</td>
          <td>
            <button class="btn btn-danger" style="max-width: 100px;" (click)="delete(command._id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="validation">
      <button class="btn btn-success button" (click)="ValidatePanier()">
        Valider
      </button>
    </div>
  </div>

  <div class='currentPanier' *ngIf="currentPanierEmpty" style='display: flex; justify-content: center; padding: 15px; background-color: rgb(187, 184, 184); border-radius: 5px;'>
    Vous n'avez pas encore d'article dans votre panier.
  </div>


  <div class='previousPanier' *ngIf="!previousPanierEmpty">
      <h2> Précédemment commandé</h2>
      <div class='previousPanier'>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Cookie</th>
              <th scope="col">Quantité</th>
              <th scope="col">Prix unitaire</th>
              <th scope="col">Prix Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let command of previousPanier">
              <td> {{ command.cookieName }} </td>
              <td>{{ command.quantity | number }}</td>
              <td> {{ command.prixUnitaire }} </td>
              <td>{{ command.prix | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
