<app-menu></app-menu>
<div class='currentPanier'>
        <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cookie</th>
              <th scope="col">Quantité</th>
              <th scope="col">Prix unitaire</th>
              <th scope="col">Prix Totale</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let command of currentPanier; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                {{ command.cookie }}
              </td>
              <td>{{ command.quantity | number }}</td>
              <td> 1 </td>
              <td>{{ command.prix | number }}</td>
            </tr>
            </tbody>
          </table>
</div>

<div class='PreviousPanier'>
    <div *ngFor="let e of previousPanier">

    </div>
</div>
