<app-menu></app-menu>
<div class='profil' *ngIf="currentUser; else loggedOut">
  <div class='header'>
    <img class='image' src='../../../assets/images/profil.png'>
  </div>
  <div class='body' *ngFor="let role of currentUser.roles">
    <h1> {{ currentUser.username }} </h1>
    Vous êtes connecté en tant que {{ role }}
    <div *ngIf="isAdmin">
      En tant qu'admin, vous ne pouvez ni supprimer, ni modifier les paramètres du compte.
    </div>
    <div class="button-group" *ngIf="!isAdmin">
      <button class="btn btn-danger" (click)="deleteAccount()">
        Supprimer mon compte 
      </button>
    </div>
  </div>
</div>
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>


  
