@import '~bootstrap/dist/css/bootstrap.min.css';

.profil {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.image {
    max-width: 200px;
}

.body {
    margin: 10px
}

.button-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.btn {
    margin-top: 5px;
}